# -------------------
# Database
# -------------------
DB_USER_DIRECT=postgres
DB_PASSWORD_DIRECT=postgres
DB_NAME_DIRECT=remez

# -------------------
# FAERS (initial load control)
# -------------------
FAERS_FROM=2020q1
FAERS_TO=2020q3
FAERS_AUTO_SYNC=False