# Firebase credentials file
firebase-auth.json

# Environment variables file
.env

# Virtual environment directory
venv

# Python bytecode cache directories
__pycache__/

# Application's logs directory
logs
