DEBUG=False
SECRET_KEY=
SIGNING_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1,backend,nginx
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
FRONTEND_URL=http://localhost:8600
BACKEND_URL=http://localhost:8600
PASSWORD_RESET_CONFIRM_REDIRECT_BASE_URL=http://localhost:8600/password-reset/confirm/

DB_HOST=db
DB_HOST_DIRECT=db
DB_HOST_POOLED=db

DB_PORT=5432
DB_PORT_DIRECT=5432
DB_PORT_POOLED=5432

DB_NAME=remez
DB_NAME_DIRECT=remez

DB_USER=postgres
DB_USER_DIRECT=postgres
DB_USER_POOLED=postgres

DB_PASSWORD=
DB_PASSWORD_DIRECT=

JWT_AUTH_SECURE=True
JWT_AUTH_HTTPONLY=True

PIPELINE_BASE_URL=http://pipeline-api:8000
PIPELINE_SERVICE_IPS=pipeline-api,127.0.0.1

ROOT_LOG_LEVEL=INFO

# Email Settings
EMAIL_HOST=smtp.gmail.com
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=