<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >

  <title>REMEZ</title>


</head>

<body>

  {% include 'navbar_private.html' %}

  <main>

    <h1>Dashboard (Protected Page)</h1>

    <p>This is a protected page that requires authenication to view.</p>

    <p>We will use this template to create and customize more protected pages for the app.</p>

    <ul>
      {% for item in queries %}
      <li {% if item==30 %}style="color: red" {% endif %}>{{ item }}</li>
      {% endfor %}
    </ul>

    <form id="queryForm" class="input-group">
      <input type="text" id="query_name" name="query_name" placeholder="Query Name" required><br>
      <textarea id="query_text" name="query_text" class="input-group" placeholder="Query Text" required></textarea>
      <button type="submit">Submit</button>
      <div id="error-message" style="color:red;"></div>
    </form>

  </main>

  <script src="{{ url_for('static', filename='login-auth.js') }}" type="module"></script>
  <script src="{{ url_for('static', filename='scripts.js') }}" type="module"></script>

</body>


</html>